a.share-switch
{
	display: block;
	width: 32px;
	height: 32px;
	background: scroll;
}

.share-window-parent
{
	position: relative;
}

table.bookmarks-table
{
	padding: 0px;
	height: 35px;
//	height: 35px;
}

.share-dialog
{
	z-index:1000;
	position: absolute;
	top: 0px;
}

.share-dialog-left
{
	left: 18px;	
}

.share-dialog-right
{
	right: 18px;	
}

.share-dialog-inner-left
{
	/*background: scroll transparent url('images/background.gif') right center no-repeat;*/
	padding: 0 1px 1px 4px;	
//	padding: 1px 1px 1px 4px;
}

.share-dialog-inner-right
{
	background: scroll transparent url('images/background-right.gif') left center no-repeat;		
	padding: 0 4px 1px 1px;
//	padding: 1px 4px 1px 1px;
}

td.bookmarks 
{
	padding-left: 5px!important;
	padding-right: 5px!important;
	padding-top: 1px!important;	
	padding-bottom: 0px!important;
	border: none!important;
}

.bookmarks a
{
	background:none no-repeat scroll center center transparent;
	display:block;
	width:36px;
	height:36px;
	overflow:hidden;
    background-color: #FFF;
}

.bookmarks a.vk { background-image:url('images/vk.gif'); }
.bookmarks a.facebook { background-image:url('images/facebook.gif'); }
.bookmarks a.twitter { background-image:url('images/twitter.gif'); }
.bookmarks a.delicious { background-image:url('images/delicious.gif'); }
.bookmarks a.lj { background-image:url('images/lj.gif'); }
.bookmarks a.mailru { background-image:url('images/mailru.gif'); }