.store-list{
    position: relative;
}

.store-menu{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 250px;
    z-index: 200;
}

.store-item{
    display: block;
    width: 90%;
    background: #FFF;
}

.store-item a{
    display: block;
    width: 90%;
    background: #FFF;
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    color: #FFF;
}

.store-item:hover a
{
    background: #e8e8e8;
    color: #000;
}