.horizontal-multilevel-menu-line > ul.top-menu > li > ul {
    display: inline-block;
    visibility: hidden;
}

.horizontal-multilevel-menu-line > ul.top-menu > li:hover > ul{
    display: inline-block;
    visibility: visible;
}

.horizontal-multilevel-menu-line > ul.top-menu > li {
   position: static;
}

.horizontal-multilevel-menu-line ul.top-menu > li.first > ul,
.horizontal-multilevel-menu-line ul.top-menu > li > ul,
.horizontal-multilevel-menu-line ul.top-menu > li.last > ul{
    left: -1px;
    right: -1px;
}

.horizontal-multilevel-menu-line ul.top-menu > li > ul{
    padding: 7px 0 20px 0;
    z-index: 1001;
}

/**/

.horizontal-multilevel-menu-line li {
    float: left;
}

.horizontal-multilevel-menu-line ul.top-menu li.l-2 {
    margin: 10px 0px 0 20px;
}

.horizontal-multilevel-menu-line .columns-left {
    //width: 23%;
    float: left;
    margin: 0px 1% 0px 1%;
}

.horizontal-multilevel-menu-line .columns-left > ul > li{
    float: none;
    clear: both;
    padding-top: 10px;
}

.horizontal-multilevel-menu-line .columns-left > ul > li > a{
    font-weight: bold;
}

@media all and (min-width: 1200px)
{
    .lg-hmml4 {
        width: 23%;
    }
    
    .lg-hmml3 {
        width: 30%;
    }
    
    .lg-hmml2 {
        width: 48%;
    }
    
    .lg-hmml1 {
        width: 100%;
    }
}

@media all and (max-width: 1199px)
{
    .md-hmml4 {
        width: 23%;
    }
    
    .md-hmml3 {
        width: 30%;
    }
    
    .md-hmml2 {
        width: 45%;
    }
    
    .md-hmml1 {
        width: 100%;
    }
}

@media all and (max-width: 991px)
{
    .sm-hmml4 {
        width: 23%;
    }
    
    .sm-hmml3 {
        width: 30%;
    }
    
    .sm-hmml2 {
        width: 45%;
    }
    
    .sm-hmml1 {
        width: 100%;
    }
}

@media all and (max-width: 767px)
{
    .xs-hmml4 {
        width: 23%;
    }
    
    .xs-hmml3 {
        width: 30%;
    }
    
    .xs-hmml2 {
        width: 45%;
    }
    
    .xs-hmml1 {
        width: 100%;
    }
}
 